<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="emailSubjectLineScanner" value="Scanner ID: test"/>
		<add key="emailSubjectLineLocation" value="Location ID: test"/>
		<add key="emailSubjectLineCompany" value="Company ID: 1"/>
		<add key="emailAddress" value="Kolby.Williams@freightsnap.com"/>
	</appSettings>
</configuration>